:root {
    --primary-color: #201E43;
    --secondary-color: #134B70;
    --accent-color: #508C9B;
    --background-color: #D6BD98;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: var(--background-color);
    color: var(--primary-color);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    height: 100%;
    margin-top: auto;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: var(--primary-color);
}

button {
    background-color: var(--secondary-color);
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover {
    background-color: var(--accent-color);
    transform: scale(1.05);
}

button:focus {
    outline: none;
    box-shadow: 0 0 0 2px var(--accent-color);
}

input[type="text"] {
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    padding: 10px;
    font-size: 1rem;
    width: 100%;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

input[type="text"]:focus {
    border-color: var(--secondary-color);
    box-shadow: 0 0 0 2px var(--secondary-color);
}

.todo-item {
    background-color: #fff;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 10px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.todo-item:hover {
    background-color: var(--accent-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.checked {
    text-decoration: line-through;
    color: #aaa;
}
